.leaflet-marker-icon.leaflet-div-icon.leaflet-editing-icon.leaflet-touch-icon.leaflet-zoom-animated.leaflet-interactive {
    width: 8px !important;
    height: 8px !important;
    border-radius: 40px;
    background-color: rgb(253, 211, 147);
  }